<footer class="footer">
    <div class="social clear">
        {% for social in site.social_networks %}
            {% if social.url != '' %}
                <a href="{{social.url}}"><svg title="{{social.name}}" width="16" height="16"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.baseurl | prepend: site.url }}/assets/svg/social-icons.svg#{{social.name}}-icon"></use></svg></a>
            {% endif %}
        {% endfor %}
        {% if site.show_rss == 1 %}
            <a href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" target="_blank"><svg title="RSS" width="16" height="16"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.baseurl | prepend: site.url }}/assets/svg/social-icons.svg#rss-icon"></use></svg></a>
        {% endif %}
        {% if site.email != blank and site.show_email == 1 %}
            <a href="mailto:{{site.email}}"><svg title="Email" width="16" height="16"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.baseurl | prepend: site.url }}/assets/svg/social-icons.svg#email-icon"></use></svg></a>
        {% endif %}
    </div>
    <p>{{site.name}} &copy; {{ site.time | date: '%Y' }} &middot; All Rights Reserved.</p>
</footer>