$black:					        #000;
$white:					        #fff;

$links-color:                   #b1452e;
$links-color-hover:             #6b2415;

$featured-article-btn-bluish:   #48515e;
$featured-article-btn-reddish:  #bb7056;

$recipe-background-color:       #fdfbe9;
$recipe-horizontal-lines:       #edead9;
$recipe-vertical-lines:         #ebd7b9;
$recipe-text-color:             #71664f;
$recipe-list-stack:             #c5c4b6;

$grey-color-dark: 		        #222;
$grey-color-normal: 	        #555;
$grey-color-light: 		        #aaa;
$grey-color-lighter: 	        #ccc;
$grey-color-lightest: 	        #eee;

$default-width:			        930px;
$on-tablet:				        768px;
$on-smaller-tablets:            640px;
$on-phone:				        480px;